<section *ngIf="step1" class="email w-50 mx-auto rounded bg-main-light p-3 shadow">
<form [formGroup]="forgetForm" (ngSubmit)="forgetPassword()">
    <label for="email">Email</label>
    <input formControlName="email" type="email" class="form-control" id="email">
    <button class="main-btn w-100 mt-3">Forget Password </button>
    <p *ngIf="userMsg" class="alert alert-danger w-75 mx-auto p-1 mb-0 mt-2">{{userMsg}}</p>
</form>
</section>

<section *ngIf="step2" class="email w-50 mx-auto rounded  bg-main-light p-3 shadow">
    <form [formGroup]="resetCodeForm" (ngSubmit)="resetCode()">
        <label for="resetCode">Reset Code</label>
        <input formControlName="resetCode" type="text" class="form-control" id="resetCode">
        <button class="main-btn w-100 mt-3">Reset Code</button>
           <p *ngIf="userMsg" class="alert alert-danger w-75 mx-auto p-1 mb-0 mt-2">{{userMsg}}</p>
    </form>
    </section>

    <section *ngIf="step3" class="email w-50 mx-auto rounded bg-main-light p-3 shadow">
        <form [formGroup]=" resetPassword" (ngSubmit)="newPassword()" >
            <label for="newPassword">Reset Password</label>
            <input formControlName="newPassword" type="password" class="form-control" id="newPassword">
            <button class="main-btn w-100 mt-3">Reset Password</button>
            <p *ngIf="userMsg" class="alert alert-danger w-75 mx-auto p-1 mb-0 mt-2">{{userMsg}}</p>
            <p class="mb-0 alert alert-danger mt-2" *ngIf=" resetPassword.get('newPassword')?.getError('pattern')">Password must be at least 6 characters</p>
        </form>
        </section>

